@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;500&family=Roboto:wght@100;300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::selection{
    color: rgb(209, 114, 97);
    background-color: antiquewhite;
}

::-webkit-scrollbar{
    width: 10px;
    background-color: antiquewhite;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(209, 114, 97);
    border-radius: 10px;
}
::-webkit-scrollbar-track{
    background-color: antiquewhite;
}

body{
    width: 500px;
    font-family: 'Baloo Tammudu 2', cursive;
    font-family: 'Roboto', sans-serif;
    margin: 5px auto;
    background-color: rgb(240, 196, 203);
    position: relative;
    scroll-behavior: smooth;
}

header{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 3px;
    padding-bottom: 100px;

    @media screen and (max-width:500px) {
       
        padding-bottom: 80px;
    }

    .main-photo{
        width: 200px;
        height: 200px;
        position: absolute;
        top: 10px;
        left: 0px;
        z-index: -1;
    
        img{
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }

    h1{
        font-size: 100px;
    
        @media screen and (max-width:600px) {
            font-size: 90px;
        }
        @media screen and (max-width:500px) {
            font-size: 80px;
        }
    }
}
.menu{
    color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: none;
    
    @media screen and (max-width:700px) {
        display: inline-block;
    }
    &.active{
        backdrop-filter: blur(3px);
    }

    i{
        padding: 10px 11px;
        border-radius: 50%;
        font-size: 1.6rem;
        position: absolute;
        right: 0;
        top: 52px;
        background-color: rgb(209, 114, 97);    
        animation: rotate 1s linear infinite;
        z-index: 999;
        cursor: pointer;
    }

    @keyframes rotate {
        0%{
            transform: rotate(0deg);
        }
    100%{
            transform: rotate(360deg);
        }
    }
}

section#social_media{
    position: fixed;
    left: 10%;
    top: 50%;
    display: flex;
    flex-direction: column;
    transform: translate(0 , -50%) ;
    transition: .3s;
    
    @media screen and (max-width:800px) {
        left: 5%;
    }


    @media screen and (max-width:700px) {
        position: absolute;
        opacity: 0;
        right: 60px;
        left: unset;
        top: 140px;
        appearance: none;
        transform: translate(60px , -50%) ;
    }
  
    &.active{
        opacity: 1;
        transform: translate(0 , -50%) ;
        appearance: visible;
    }


    &>i{
        border-radius: 50%;
        cursor: pointer;
        background-color: antiquewhite;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        margin: 10px 0;
        color: rgb(209, 114, 97);
        transform: rotate(0deg);
        transition: .3s;

        &:hover{
            transform: rotate(360deg);
        }
    }
}

article{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    p{
       padding: 10px 0;
       font-weight: 300;
    }

    img{
        width: 70%;
        border: 1em solid #fff;
        border-bottom: 4em solid #fff;
        border-radius: .25em;
        box-shadow: 1em 1em 2em .25em rgba(0,0,0,.2);
        margin: 10px auto 70px;
        transform: translateY(4em) rotateZ(-5deg);

        &:nth-of-type(odd){
            transform: translateY(4em) rotateZ(5deg);

        }
    }
    h2,h3{
        margin: 20px auto;
    }

    p a{
        color: rgb(143, 106, 106);
        text-decoration: none;
        font-size: 18px;
        font-weight: 400;
    }
    ul{
        padding-left: 10px;
    }

}



// go to top button
#myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: antiquewhite;
    color: rgb(209, 114, 97);
    cursor: pointer; 
    border-radius: 10px; 
    font-size: 18px; 
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    
    i{
        padding: 10px;
        font-size: 20px; 
    }
  }
  
  #myBtn:hover {
    background-color: rgb(209, 114, 97); 
    color: antiquewhite;
  }

@media (max-width: 600px){
    body{
        width: 450px;
    }
}
@media (max-width: 500px){
    body{
        width: 400px;
    }
}
@media (max-width: 450px){
    body{
        width: 350px;
    }
}
@media (max-width: 400px){
    body{
        width: 320px;
    }
}
@media (max-width: 350px){
    body{
        width: 280px;
    }
}



